:root {
  --font: "Jost";
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}
/* NAVBAR */

.navbar-frame {
  position: relative;
  width: 100%;
  height: 145px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #443297;
}

.navbar-frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar-frame .navbar-top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar-frame .navbar-top > a img {
  margin-right: 30px;
  width: 150px;
  height: 36px;
}

.navbar-frame .navbar-top .nav-search-frame {
  width: 650px;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 6px;
}
.navbar-frame .navbar-top .search-box {
  padding: 10px 17px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-frame .search-box .category-list {
  width: 166px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid#D6D6D6;
}

.navbar-frame .category-list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.navbar-frame .search-box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;

  border: none;
  outline: none;

  color: var(--Color-Text-Light, #626974);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.navbar-frame .nav-search-frame .search-icon-box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  background: var(--Bg-2, #f5c34b);
}

.navbar-frame .search-icon-box img {
  width: 20px;
  height: 20px;
}

.navbar-frame .navbar-top .nav-top-menu {
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-frame .nav-top-menu .top-menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.navbar-frame .top-menu-box .box-icon-box {
  position: relative;
  margin-right: 16px;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-frame .box-icon-box img {
  width: 22px;
  height: 22px;
}

.navbar-frame .top-menu-box .box-info-box {
  display: flex;
  flex-direction: column;
}

.navbar-frame .box-info-box span {
  color: #ffffff;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.navbar-frame .box-info-box strong {
  color: #fff;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.navbar-frame .box-icon-box .basket-count {
  position: absolute;
  top: -2px;
  right: -3px;
  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5c34b;
  border-radius: 50%;

  color: #0b1e40;
  font-family: var(--font);
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar-frame .navbar-bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: row;

  border-top: 1px solid #5746a1;
}

.navbar-frame .navbar-bott .navbar-bott-menu-box {
  margin-top: 10px;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
}

.navbar-frame .navbar-bott-menu-box .browse-box {
  width: 185px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}

.navbar-frame .browse-box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}

.navbar-frame .browse-box span {
  color: #fff;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.navbar-frame .navbar-bott-menu-box .navbar-route-menu {
  margin-left: 12px;
  margin-right: 350px;

  display: flex;
  flex-direction: row;
}

.navbar-frame .navbar-route-menu .router-menu {
  margin-right: 20px;
  width: auto;
  height: 41px;

  display: flex;
}

.navbar-frame .router-menu a {
  color: #fff;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.navbar-frame .router-menu a.active {
  color: var(--Bg-2, #f5c34b);
}

.navbar-frame .navbar-bott-menu-box .sorting-menu {
  display: flex;
  flex-direction: row;
}

.navbar-frame .sorting-menu span {
  margin-left: 24px;
  color: #fff;
  text-align: right;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

/* FOOTER */
.footer-frame {
  position: relative;
  padding: 90px 0 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f5f6;
}

.footer-frame .footer-spec-title {
  display: block;
  margin-bottom: 30px;
  color: #041e42;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-frame .container {
  flex-direction: column;
}

.footer-frame .container .footer-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer-frame .footer-top .footer-conatct-box {
  display: flex;
  flex-direction: column;
}

.footer-frame .footer-contact-box .footer-contact-main {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.footer-frame .footer-contact-main img {
  width: 35px;
  height: 30px;
}

.footer-frame .footer-contact-main div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer-frame .footer-contact-main div strong {
  color: #041e42;
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.footer-frame .footer-contact-main div span {
  margin-top: 10px;
  color: #041e42;
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.footer-frame .footer-support-box {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
}

.footer-frame .footer-support-box a {
  color: #041e42;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.footer-frame .footer-media-box {
  margin-left: 55px;
  display: flex;
  flex-direction: column;
}

.footer-frame .footer-media-box .footer-media-main {
  display: flex;
  flex-direction: column;
}

.footer-frame .footer-media-main .media-box {
  display: flex;
  flex-direction: row;
}

.footer-frame .media-box i {
  margin-right: 25px;
}

.footer-frame .footer-media-main .mobile-app-box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-frame .mobile-app-box img {
  width: 24px;
  height: 16px;
}

.footer-frame .mobile-app-box span {
  margin-left: 20px;
  color: #041e42;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.footer-frame .footer-media-main .card-box {
  width: 272px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-frame .container .footer-bottom {
  margin-top: 90px;
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-top: 1px solid #eaeaea;
}

.footer-frame .footer-bottom .footer-main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer-frame .footer-main .footer-bottom-left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer-frame .footer-bottom-left span {
  margin-right: 60px;
  color: #041e42;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.footer-frame .footer-main .footer-bottom-right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-frame .footer-bottom-right .footer-select-box {
  padding: 10px 20px;
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid var(--Color-Border, #eaeaea);
  background: var(--Bg-White, #fff);
}

.footer-frame .footer-select-box span {
  color: #626974;
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.footer-frame .footer-select-box select {
  margin-left: 20px;
  width: 78px;
  height: 90%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: #041e42;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/* PAGE ROUTER */

.page-router {
  margin: 20px 0;
  width: 1320px;
}

.page-router span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.page-router span.drop {
  margin: 0 10px;
}

.page-router span.active {
  color: var(--Color-Text-Light, #626974);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
