:root {
  --font: "Jost";
}

.home-page {
  display: flex;
  flex-direction: column;
}

.white-svg {
  filter: brightness(0) invert(1);
}

.container .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .category-top div {
  display: flex;
  flex-direction: row;
}

.container .category-top span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.container .category-top a {
  margin-left: 30px;
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.container .category-top a:hover {
  border-bottom: 2px solid #041e42;
}

/* PAGINATION */

.container .pagination-box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagination-box .pagination-main {
  width: auto;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination-main img {
  cursor: pointer;
}

.container .pagination-main .pagination-dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}

.container .pagination-dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.container .pagination-dot .dot.active {
  border: 2px solid #112137;
}

.container .pagination-dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
  border-radius: 50%;
}

.container .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background: #041e42;
}

.container .next-prev-box {
  width: 25px;
}
.container .next-prev-box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

/* PRODUCT CART */

.container .product-box {
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.container .product-box .product-img-box {
  width: 100%;
  height: 280px;
}
.container .product-img-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.container .hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  border-radius: 6px;
  background: #0053f6;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);

  color: var(--Bg-White, #fff);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.container .product-img-box:hover .hover-box {
  display: flex;
}

.container .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container .product-content-box .product-title {
  color: var(--Color-Text-Light, #626974);
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  overflow: hidden;
}

.container .product-content-box .product-desc {
  height: 56px;
  margin-top: 7px;
  overflow: hidden;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #041e42;
}

.container .product-content-box .review-box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .review-box img {
  margin-right: 5px;
}

.container .review-box span {
  margin-left: 10px;
  color: var(--Color-Text-Light, #626974);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.container .product-content-box .price-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price-box strong {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container .price-box span {
  margin-left: 10px;
  color: var(--Color-Text-Light, #626974);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;
}

/* HEADER */
.home-page .header-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}
.header-frame .container {
  flex-direction: row;
}

.header-frame .container .header-left {
  position: relative;
  padding-left: 15px;
  width: 875px;
  height: 508px;

  background-color: #0053f6;
  background-image: url(/public/images/icons/header-bg.svg);
  border-radius: 5px;
}

.header-frame .header-left .header-content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header-frame .header-content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  color: var(--Color-Text-Dark, #041e42);

  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .header-content span {
  margin-top: 10px;
  width: 428px;

  color: var(--Bg-White, #ffffff);
  font-family: var(--font);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.header-frame .header-content p {
  margin-top: 10px;
  color: var(--Bg-White, #ffffff);
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.header-frame .header-content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background: var(--Bg-White, #ffffff);

  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .header-content img {
  position: absolute;
  right: 10px;
}

.header-frame .container .header-right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-frame .header-right .header-box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}

.header-frame .header-right .box-left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-frame .box-left span {
  color: #0053f6;
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.header-frame .box-left p {
  margin: 10px 0px;
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-frame .box-left a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.header-frame .header-box .box-right {
  width: 50%;
}

.header-frame .box-right img {
  width: 100%;
  height: 100%;
}

/* SERVICE */
.home-page .service-frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service-frame .container {
  flex-direction: row;
}

.service-frame .container .service-box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.service-frame .service-box img {
  width: 35px;
  height: 35px;
}

.service-frame .service-box .service-content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service-frame .service-content span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.service-frame .service-content p {
  color: var(--Color-Text-Light, #626974);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

/* SHOP CATEGORY */

.home-page .shop-category-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.shop-category-frame .container {
  flex-direction: column;
}

.shop-category-frame .container .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shop-category-frame .category-top span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.shop-category-frame.category-top a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.shop-category-frame .category-top a:hover {
  border-bottom: 2px solid #041e42;
}

.shop-category-frame .container .category-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.shop-category-frame .category-wrapper .category-box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.shop-category-frame .category-box .category-image-box {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 150px;
  border: 1px solid var(--Color-Border, #eaeaea);
}

.shop-category-frame .category-box span {
  margin-top: 15px;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: var(--Color-Text-Dark, #041e42);
}

/* SELLING PRODUCTS */

.home-page .selling-product-frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.selling-product-frame .container {
  flex-direction: column;
}
.selling-product-frame .container .product-wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling-product-frame .product-wrapper .product-boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.home-page .adv-frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5edff;

  color: #0053f6;
  text-align: center;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* SPEC PRODUCT */

.home-page .spec-product-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spec-product-frame .container {
  flex-direction: column;
}

.spec-product-frame .container .spec-product-wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.spec-product-frame .spec-product-wrapper .big-product-box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background: #f3f5f6;
}

.spec-product-frame .big-product-box .big-product-content {
  width: 161px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.spec-product-frame .big-product-content span {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.spec-product-frame .big-product-content p {
  margin: 7px 0;
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.spec-product-frame .big-product-content a {
  color: var(--Color-Text-Dark, #041e42);
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.spec-product-frame .big-product-box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
  mix-blend-mode: darken;
}

.spec-product-frame .spec-product-wrapper .small-product-wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.spec-product-frame .small-product-wrapper .small-product-box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  border-radius: 6px;
  background: #f3f5f6;
}

.spec-product-frame .small-product-box:nth-child(odd) {
  margin-right: 30px;
}

.spec-product-frame .small-product-box .small-product-content {
  display: flex;
  flex-direction: column;
}

.spec-product-frame .small-product-content strong {
  color: #041e42;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.spec-product-frame .small-product-content span {
  color: #626974;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.spec-product-frame .small-product-box img {
  position: absolute;
  right: 30px;
  bottom: 15px;
  mix-blend-mode: darken;
}

.home-page .tv-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tv-frame .container {
  flex-direction: column;
}

.tv-frame .container .tv-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv-frame .tv-wrapper .tv-product-boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.tv-frame .tv-product-boxes .tv-product-box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
}

.tv-frame .tv-product-box .product-img {
  width: 100%;
  height: 280px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* EVENT */
.home-page .event-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(../images/icons/event.png);
  background-size: cover;
}

.event-frame .container {
  flex-direction: row;
  justify-content: center;
}

.event-frame .container .event-content-box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-frame .event-content-box .event-title {
  color: #ffffff;
  font-family: var(--font);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.event-frame .event-content-box .timer-wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.event-frame .timer-wrapper .timer-box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.event-frame .timer-box strong {
  color: #ffffff;
  font-family: var(--font);
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.event-frame .timer-box span {
  color: #ffffff;
  font-family: var(--font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.event-frame .event-content-box a {
  width: 140px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  border-radius: 6px;
  border: 1px solid var(--Bg-White, #fff);
  background: var(--Bg-White, #fff);

  color: var(--Color-Text-Dark, #041e42);
  text-align: center;
  font-family: var(--font);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.event-frame .container .event-product-wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.event-frame .event-product-wrapper .event-product-boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-frame .event-product-boxes .event-product-box {
  margin-right: 8px;
  width: 205px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffffff;
}

.event-frame .event-product-box .event-product-img {
  width: 100;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}
